@font-face {
  font-family: 'MyPixelFont';
  src: url('../Assignment 2/m5x7.ttf') format('truetype');
}

body {
  font-family:'MyPixelFont',monospace;
  background-color: rgba(58, 129, 196, 0.575);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: rgba(7, 73, 160, 0.726);
}

#erokia_audio {
  display: block;
  width: 240px;
  height: 50px;
}

.Background-gif {
  display: block;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 5px
}

.control-audio {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 150px;
  border-radius: 20px;
}
#progress{
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: blue;
  border-radius: 4px;
  cursor: pointer;
  margin: 40px 0;
}

#progress::-webkit-slider-thumb{
  -webkit-appearance: none;
  background: #02479c;
  width:25px;
  height: 25px;
  border-radius: 50%;
  border: 8px solid white;
  box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}

#current-time{
 font-size: 1.5rem;
 padding: 10px; ;
}

#duration{
  font-size: 1.5rem;
  padding: 10px;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Reference {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.Credit {
  display: flex;
  gap: 10px;
  margin: 10px;
}
