body{
    background-color: rgba(58, 129, 196, 0.575);
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;
    color: rgba(7, 73, 160, 0.726);
    
}

#erokia_audio {
    display:block;
    width: 240px;
    height: 240px;
    
}

.Background-gif{
display:block;
justify-content: center;
align-items: center;
}

.control-audio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
}