/* My aim for the background color is aiming for neat, clean, and easy to read.
blanchedalmond is fit the color of the paper. And it also easy for people to read.
And it fit for the style Despite the font that i chose and the color.
*/

body {
  background-color: blanchedalmond;
}

/* H1 titles will be the biggest among all the titles
is easy to catch up the eyes of the reader to understand what is the goal
of this essays.
*/
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: rgb(138, 55, 55);
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font: weight 500px;
  font-style: oblique;
}
/* I wnat to split this out in section for question number 2.
Each box containt 3 seperated part of the sites. Explaining how the site work
and the experiences i have while using the slide */
.first-slot-of-the-answer {
  border: 2px dashed green;
  font-style: italic;
  color: rgb(45, 122, 45);
  width: 400px;
  height: 250px;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  text-align: center;
  margin: 0 auto;
}
.second-slot-of-the-answer {
  border: 2px dashed rgb(190, 93, 55);
  font-style: italic;
  color: rgb(190, 93, 55);
  width: 400px;
  height: 200px;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  text-align: center;
  margin: 0 auto;
}
.third-slot-of-the-answer {
  border: 2px dashed rgb(77, 27, 194);
  font-style: italic;
  color: rgb(19, 58, 233);
  width: 400px;
  height: 250px;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  text-align: center;
  margin: 0 auto;
}

.eight-slot-answer {
  border: 3px solid rgb(143, 43, 43);
  width: 400px;
  height: 250px;
  padding: 15px;
  margin-bottom: 20px;
  color: brown;
  font-size: 1.2rem;
  text-align: center;
  margin: 0 auto;
}

/* These are the tiles for each part of the sites, fitting them in somewhere near
the same color of the box is quite simple to, each color represent each part
of the site. */
.first-part-of-the-answer {
  color: rgb(62, 168, 80);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
}
.second-part-of-the-answer {
  color: rgb(207, 77, 44);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
}
.third-part-of-the-answer {
  color: rgba(54, 52, 216, 0.863);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
}
.conclution-of-the-second-answer {
  color: rgba(0, 0, 0, 0.863);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
}

/* My first initial ideas is to put all the answer in class differently
like class = "first-answer", class = "second-answwer" i want to style them
differently. But when i look back, the process is messy and it took a lot of times. 
Hence, losing the track of being simplefied and easy to communicate disorted.
I put everything in id = answer. it easy to optimize my answer for each para.
I apply the same progress for all the questions.*/
#Answer {
  font-size: 1.2rem;
  text-align: center;
  margin: 0 auto;
  color: rgb(0, 0, 0);
}
#question {
  color: rgb(10, 175, 120);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: normal;
}

/* the quicklink is for people to access the reference of the sites. */
.reference-title {
  color: rgb(247, 18, 18);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  margin: 0 auto;
}

#answer-eight {
  font-size: 1.2rem;
  text-align: center;
  margin: 0 auto;
  color: rgb(0, 0, 0);
}

.link-reference {
  text-align: center;
  margin: 0 auto;
  color: rgb(0, 0, 0);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  margin: 0 auto;
}
